.action-bar-wrapper{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 4px;
}

.codeCell{
    margin-top: -3vh;
    margin-bottom: 2vh;
    z-index: 5;
}

.action-bar-button{
    background-color: rgb(240, 184, 81);
    border-radius: 5px;
    padding: 8px 8px;
    margin: 0 1px;
    border: none;
    color: rgba(255, 255, 255, 0.762);
    font-size: 14px;
    cursor: pointer;
    margin-bottom: -25px;
    z-index: 20;
}